:root {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #ebf8ff;
}
* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
body {
  background-color: #0f1013;
}

p {
  margin: 0.27em 0;
  min-height: 1rem;
}

input {
  color: #ebf8ff;
  background-color: transparent;
  border: none;
  outline: none;
  &:focus {
    outline: none;
  }
}

section {
  padding: 1rem;
}
.quicksearch {
  display: flex;
  align-items: center;
  width: fit-content;
  box-shadow: inset 0 1px 0 0 #ffffff0d;
  background-color: #1f2937;
  border-radius: 0.375rem;
  padding: 0.375rem 0.6rem;
  cursor: pointer;
  margin-bottom: 1rem;
  &:hover {
    background-color: #303a46;
  }
}
#guitarList {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
}
.guitarItem {
  color: #a6b2c1;
  padding-left: 1rem;
  border-left: 1px solid #374151;
  &:hover {
    color: white;
    border-left: 1px solid #23458c;
  }
}
